.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 130px;

  @include vp-767 {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100vw;
    height: 100vh;
    /* stylelint-disable-next-line */
    height: calc(100 * var(--vh, 1vh));
    padding: 40px;
    overflow-y: auto;
    z-index: -1;

    opacity: 0;
    visibility: hidden;
    transition: opacity $trans-default, visibility $trans-default;
    background-color: $color-default-white;
    transform: translate3d(0, 0, 0);

    &.is-open {
      opacity: 1;
      visibility: visible;
      z-index: 100;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include vp-767 {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 40px;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 18px;
    transition: color 0.5s ease;
    color: $color-default-black;
    margin-top: 5px;

    &:not(:last-child) {
      margin-right: 40px;
    }

    @include vp-767 {
      font-size: 24px;
      line-height: 30px;

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-right: 40px;

    .btn:not(:last-child) {
      margin-right: 10px;
    }

    @include vp-767 {
      justify-content: flex-start;

      .btn svg{
        width: 38px;
        height: 38px;
      }

      .btn:not(:last-child) {
        margin-right: 40px;
      }
    }
  }
}
