$color-default-black:               #000000;
$color-default-white:               #ffffff;

$color-dim-grey: #6E6E6E;
$color-light-grey: #C8C8C8;
$color-white-smoke: #F1F1F1;
$color-red: #D92C2C;
$color-green: #007E06;
$color-cerulean: #106DA1;
$color-golden-brown: #AE6D0C;
$color-charcoal: #444444;

$trans-default: 0.3s ease;

$ff-helvetica:                      "Helvetica", "Arial", sans-serif;

$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1240:                           1240px;

$retina-dpi:                        192dpi;
$retina-dppx:                       2dppx;
